:root {
  --NavigateButtonWidth: 10vmax;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#submit {
    margin: 10px;
    margin-left: 45%;
    margin-right: 45%;
}

#subinput {
    margin-left: 40px;
    margin-top: -10px;
}

#subinput::before {
    content:"|";
    font-size: 30px;
    position: relative;
    right: 6px;
    bottom: 15px;
    z-index: -1;
}

#subinput::after {
    content:"_";
    font-size: 30px;
    position: relative;
    right: 1870px;
    bottom: 10px;
    z-index: -1;
}

.input {
    margin: 10px;
}

.NavigateButton {
    border: 1px solid #ced4da;
    border-radius: 10px;
    width: var(--NavigateButtonWidth);
    text-align: center;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.NavigateButton a {
    display: block;
    border-radius: inherit;
    padding: 3px;
}

.CircleButton {
    border: 1px solid #ced4da;
    border-radius: 50%;
    margin: 1vmax;
    width: calc(var(--NavigateButtonWidth) * 2);
    height: calc(var(--NavigateButtonWidth) * 2);
    text-align: center;
    vertical-align: middle;
    word-break: break;
    transition: 0.5s;
}

.CircleButton a {
    display: block;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    display: flex;
}

.CircleButton a span {
    margin: auto;
    font-size: 5vmin;
}

.CircleButton:hover {
    transform: translateY(-2vmin);
}

.FlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12.5px 25px;
}

.FlexContainer > a > div {
    text-align: center;
    margin: 12.5px 25px;
    padding: .5rem .1rem;
    display: inline-block;
    min-width: 4rem;
    max-width: 10rem;
    height: auto;
    text-align: center;
    word-break: break-all;
}

.FlexContainer > a {
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
    text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

details summary {
    font-weight: 700;
    font-size: 2rem;
    transition: 1s;
}

details div {
    transition: 1s;
    opacity: 0;
}

details[open] div {
    opacity: 1;
}

details summary::marker {
    transition: 1s;
}

details[open] summary::marker {
    font-size: 0px;
}

details[open] summary::after {
    content: ":";
}